.title {
    -fx-font-size: 30px;
}

.big {
    -fx-font-size: 22px;
}

.medium {
    -fx-font-size: 15px;
    -fx-font-weight: normal;
}

.mediumBold {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}